/* You can add global styles to this file, and also import other style files */

/* @media screen and (max-width: 767px) {
  .card-container > *:not(.circle-link) ,
  .terminal {
    width: 100%;
  }

  .card:not(.highlight-card) {
    height: 16px;
    margin: 8px 0;
  }

  .card.highlight-card span {
    margin-left: 72px;
  }

  svg#rocket-smoke {
    right: 120px;
    transform: rotate(-5deg);
  }
}
*/

* {
  font-family: 'Poppins';
}

html, body{
  height: 100%;
  background-color: #444;
}

a {
  color: #e7e7e7;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

.add-hov:hover {
  color: #d1d1d1ec;
}

.my-light-text {
  color: #e7e7e7;
}

.my-light-bg {
  background-color: #e7e7e7;
}

.my-dark-text {
  color: #444;
}

.my-dark-bg {
  background-color: #444;
}

.my-red-text {
  color: #b42e2e;
}

.my-red-bg {
  background-color: #b42e2e;
}

.my-text-shadow {
  text-shadow: 1px 1px black;
}
