/* You can add global styles to this file, and also import other style files */

/* @media screen and (max-width: 767px) {
  .card-container > *:not(.circle-link) ,
  .terminal {
    width: 100%;
  }

  .card:not(.highlight-card) {
    height: 16px;
    margin: 8px 0;
  }

  .card.highlight-card span {
    margin-left: 72px;
  }

  svg#rocket-smoke {
    right: 120px;
    transform: rotate(-5deg);
  }
}
*/

* {
  font-family: 'Poppins';
}

html, body{
  height: 100%;
  background-color: rgb(40, 40, 40);
  margin: 0;

  background-image: url(imagens/background.png);
  background-position: center;
  background-size: cover;
}

a {
  color: #e7e7e7;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

.add-hov:hover {
  cursor: pointer;
  color: #d1d1d1ec;
}

.my-light-text {
  color: #e7e7e7;
}

.my-light-bg {
  background-color: #e7e7e7;
}

.my-dark-text {
  color: rgb(40, 40, 40);
}

.my-dark-bg {
  background-color: rgb(40, 40, 40);
}

.my-red-text {
  color: rgb(211, 0, 53);
}

.my-red-bg {
  background-color: rgb(211, 0, 53);
}

.my-text-shadow {
  text-shadow: 1px 1px black;
}

.cadeira-padrao {
  height: 50px;
  width: 50px;
  margin: 5px;
  background-image: url(imagens/chair1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.65;
}

.cadeira-vip {
  height: 50px;
  width: 50px;
  margin: 5px;
  background-image: url(imagens/star32.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.65;
}

.logo {
  height: 60px;
  width: 200px;
  margin: 5px;
  background-image: url(imagens/LogoVariacao2.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.a-black-bg {
  background-color: rgb(17, 17, 17);
}

.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
