<div class="full-body">

  <div class="div1">
    <h1 style="color: whitesmoke;">{{ listaFilmes[0].sessoes[0].nomeCinema }}</h1>
  </div>

  <div class="div2">
    <div *ngFor="let filme of filmesEmCartaz()">
      <div class="card text-bg-dark border-secondary">

        <div class="div3">
          <div class="poster-container">
              <img class="poster-img" src="{{ filme?.cartaz }}">
          </div>

          <div  class="div4">
            <div *ngFor="let s of sessoesPorFilme(filme.id)">
                <button class="btn btn-dark border-secondary hora" routerLink="/sessao/{{s.id}}">{{ s.dataSessao.toString().split('T')[1].substring(0, 5) }}</button>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>

