.full-body {
  display: flex;
  flex-direction: row;
  margin: 0 10% 40px 10%;
}

.div1 {
  display: flex;
  justify-content: center;
  width: 20%;
}

.div2 {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.div3 {
  display: flex;
  flex-direction: row;
}

.div4 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 5px 18px 5px 18px;


}
.poster-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: fit-content;
  padding: 10px;
}

.poster-img {
  height: 400px;
  width: auto;
}

.hora {
  margin: 5px;
}

