.full-body{
  width: 1400px;
  display: flex;
  justify-content: space-around;
  padding: 20px 0 40px 0;
}

.poster-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
}

.poster-img {
  height: 400px;
  width: fit-content;
}

.calendar-container{
  display: flex;
  flex-direction: column;
  width: 75%;
}

.horarios {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.hora{
  margin: 10px;
}

.cinema {
  width: 20%;
}
