.full-body {
  width: 1400px;
  display: flex;
  justify-content: space-around;
  padding: 20px 0 40px 0;
}

.poster-container {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  width: 24%;
}

.poster-img {
  height: 400px;
  width: auto;
}

.calendar-container {
  width: 76%;
  display: flex;
  flex-direction: column;
}

.calendar-subcontainer {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.nome-cinema {
  text-align: center;
  min-width: 120px;
  max-width: 120px;
  padding: 10px;
  border-style: solid;
  border-width: 0 1px 0 0;
  border-bottom-left-radius: 6px;
  border-top-right-radius: 0;
  border-color: gray;
}

.lista-horas {
  max-height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  border: 0;
  padding: 8px;
}

.hora {
  padding: 5px;
  border: 0;
}
