<div class="full-body">


  <div class="poster-container">
      <img class="poster-img" src="{{ filme?.cartaz }}">
  </div>

  <div class="calendar-container">
    <div *ngFor="let nomeCinema of listaCinemas()">
      <div class="card text-bg-dark border-secondary horarios">
        <div class="card-header cinema">
          {{nomeCinema}}
        </div>
        <div class="card hora" *ngFor="let s of sessoesPorCinema(nomeCinema)">
          <p class="btn btn-outline-secondary" style="margin: 0;" routerLink="/sessao/{{s.id}}">{{ s.dataSessao.toString().split('T')[1].substring(0, 5) }}</p>
        </div>
      </div>
    </div>
  </div>

</div>  