<div class="poster-container">
    <img class="poster-img" src="{{ filme?.cartaz }}">
</div>
<div class="my-list">
    <a class="my-card" *ngFor="let nomeCinema of listaCinemas()">
        <div class="card">
            <div class="card-header">
              {{nomeCinema}}
            </div>
            <div class="card-body" *ngFor="let s of sessoesPorCinema(nomeCinema)">
              <a routerLink="/sessao/{{s.id}}" class="btn btn-danger my-light-text">{{ s.dataSessao.toString().split('T')[1].substring(0, 5) }}</a>
            </div>
          </div>
    </a>
</div>