.my-list {
    display: flex;
    flex-wrap: wrap;
}

.my-card {
    margin: 10px 17px;
    width: 145.2px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.poster-container {
    background-color: transparent;
    border: none;
}

.poster-img {
    width: 145.2px;
    height: 210.6px;
    display: block;
    border-radius: 8px;
}

.add-new{
    margin: 0 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 145.2px;
    height: 210.6px;
    border: solid 1px gray;
    color: grey;
    font-size: 30px;
    cursor: pointer;
  }

  .add-new:hover{
    color: white;
    border: solid 1px white;
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .div1{
    display: flex;
    flex-flow: row wrap;
  }

  .div-generos {
    display: flex;
    flex-wrap: wrap;
  }

  .generos{
    height: 38px;
    margin: 5px;
  }

  .my-card-button {
    width: 145.2px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

  .add-new-button{
    color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 38px;
    border: solid 1px gray;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
    margin: 5px;
  }

  .add-new-button:hover{
    color: white;
    border: solid 1px white;
  }

  .btn-group{
    cursor: pointer;
    width: 20px;
    height: 20px;
  }

  .bi-gear-fill{
    display: flex!important;
    align-items: center!important;
    justify-content: center!important;
  }

  .bi {
    width: 100%;
    height: 100%;
    align-self: center;

  }
/*
  .hvr-grow-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
  }
  .hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  } */
