.full-page {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 10px;
}

.main{
    /* flex: 1; */
    width: 900px;
}

.titles {
    margin: 0;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.title {
    width: 150px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.div-bar {
    display: inline-block;
    width: 2px;
    height: 35px;
    margin: 0 20px;
}

.all-bars {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 10px 0;
}

.side-bar {
    width: 50px;
    height: 2px;
}

.bar {
    flex: 1;
    height: 2px;
}

@media screen and (max-width: 767px) {

} 

@media screen and (max-width: 575px) {

} 