.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 12% 40px 12%;
    color: whitesmoke;
}

.info {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.info-filme {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.poster {
    height: 200px;
    width: auto;
}

.ingresso-card {
  margin-bottom: 10px;
}

.cadeiras-selecionadas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  min-height: 56px;
}

.cadeira-individual {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: fit-content;
  min-width:  30px;
  height: 30px;
}

.sala {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  background-color: transparent!important;

  min-width: 1000px;
  min-height: 300px;
  margin: 0 2% 0 2%;

  border-width: 1px;
  border-style: solid;
  border-color: gray;
  border-radius: 6px;
}

.fileiras {
    margin: auto 30px;
    display: flex;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.cadeiras {
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-corredor{
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.corredor{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    background-color: transparent;
    border: solid 1px whitesmoke;
    font-size: 20px;
    color: whitesmoke;
}

.corredor:hover{
    color: red;
    border: solid 1px red;
  }
  
  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  

.tela {
  height: 30px;
  background-color: rgb(22, 22, 22);
  margin-top: auto;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}

.add-new{
    margin: auto 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    min-width: 252px;
    border: solid 1px white;
    font-size: 30px;
    cursor: pointer;
  }
  
  .add-new:hover{
    color: red;
    border: solid 1px red;
  }

  .icon {
    margin: 18px;
  }

  .btn-group{
    cursor: pointer;
    width: 20px;
    height: 20px;
  }
  
  .bi-gear-fill{
    display: flex!important;
    align-items: center!important;
    justify-content: center!important;
  }
  
  .bi {
    width: 100%;
    height: 100%;
    align-self: center;
  
  }