<div class="footer mt-auto text-light hstack gap-3 align-items-stretch">
    <div class="d-flex flex-row align-items-stretch flex-grow-1">
      <div class="flex-grow-1 d-flex flex-column">
        <h4>Dúvidas</h4>
          <hr class="me-2">
          <a class="text-decoration-none link-light" href="#">Teste</a>
          <a class="text-decoration-none link-light" href="#">Teste</a>
      </div>
      <!-- <div class="vr mx-2"></div> -->
      <div class="flex-grow-1 d-flex flex-column">
        <h4>Contatos</h4>
        <hr class="me-2">
        <a class="text-decoration-none link-light" href="#">Teste</a>
        <a class="text-decoration-none link-light" href="#">Teste</a>
      </div>
      <!-- <div class="vr mx-2"></div> -->
      <div class="flex-grow-1 d-flex flex-column">
        <h4>Batata</h4>
        <hr class="me-2">
        <a class="text-decoration-none link-light" href="#">Teste</a>
        <a class="text-decoration-none link-light" href="#">Teste</a>
        <a class="text-decoration-none link-light" href="#">Teste</a>
        <a class="text-decoration-none link-light" href="#">Teste</a>
      </div>
    </div>
    <div class="vr"></div>
    <div class="d-flex flex-column gap-3 p-3">
      <div>
        <!-- <a href="#"><img src="https://www.itabirito.mg.leg.br/imagens/insta.png/image" width="54.9px" height="56.8px"></a> -->
        <a class="text-decoration-none link-light" href="#"><i class="bi bi-instagram" style="color: rgb(250, 0, 237); font-size: 20px; margin: 0 10px;"></i>Instagram</a>
      </div>
      <div>
        <!-- <a href="#"><img src="https://cdn-icons-png.flaticon.com/512/124/124021.png" width="52px" height="52px" style="border-radius: 8px;"></a> -->
        <a class="text-decoration-none link-light" href="#"><i class="bi bi-twitter" style="color: rgb(65, 179, 255); font-size: 20px; margin: 0 10px;"></i>Twitter</a>
      </div>
      <div>
        <!-- <a href="#"><img src="https://logospng.org/download/linkedin/logo-linkedin-icon-1024.png" width="60px" height="60px" style="border-radius: 8px;"></a> -->
        <a class="text-decoration-none link-light" href="#"><i class="bi bi-linkedin" style="color: blue; font-size: 20px; margin: 0 10px;"></i>LinkedIn</a>
      </div>
    </div>
  </div>
