<footer class="mt-auto d-flex flex-column flex-sm-row gap-3 text-white align-items-stretch my-red-bg fixed-bottom">
  <div class="d-flex flex-column flex-sm-row align-items-stretch flex-grow-1">
    <div class="flex-grow-1 text-center text-sm-start">
      <h4>Dúvidas</h4>
      <hr class="mx-5 ms-sm-0 me-sm-2 mb-sm-0 mt-sm-1">
      <div class="section">
        <a href="" class="text-decoration-none link-light">teste</a>
        <a href="" class="text-decoration-none link-light">teste</a>
        <a href="" class="text-decoration-none link-light">teste</a>
      </div>
    </div>
    <div class="flex-grow-1 text-center text-sm-start">
      <h4>Contato</h4>
      <hr class="mx-5 ms-sm-0 me-sm-2 mb-sm-0 mt-sm-1">
      <div class="section">
        <a href="" class="text-decoration-none link-light">teste</a>
        <a href="" class="text-decoration-none link-light">teste</a>
      </div>
    </div>
    <div class="flex-grow-1 text-center text-sm-start">
      <h4>Batata</h4>
      <hr class="mx-5 ms-sm-0 me-sm-2 mb-sm-0 mt-sm-1">
      <div class="section">
        <a href="" class="text-decoration-none link-light">teste</a>
        <a href="" class="text-decoration-none link-light">teste</a>
        <a href="" class="text-decoration-none link-light">teste</a>
        <a href="" class="text-decoration-none link-light">teste</a>
      </div>
    </div>
  </div>
  <div class="vr d-none d-sm-flex"></div>
  <hr class="d-block d-sm-none">
  <div class="d-flex flex-row flex-sm-column justify-content-center gap-3 p-3 align-items-center">
    <a href="#" class="text-decoration-none link-light mylink"><i class="bi bi-bookmark-check-fill"></i> teste</a>
    <a href="#" class="text-decoration-none link-light mylink"><i class="bi bi-bookmark-check-fill"></i> teste</a>
    <a href="#" class="text-decoration-none link-light mylink"><i class="bi bi-bookmark-check-fill"></i> teste</a>
  </div>
</footer>
