<footer class="mt-auto d-flex flex-column flex-sm-row gap-3 text-white align-items-stretch my-red-bg" style="position: relative; bottom: 0; width: 100%;">
  <div class="d-flex flex-column flex-sm-row align-items-stretch flex-grow-1">
    <div class="flex-grow-1 text-center text-sm-start">
      <h4>Menu</h4>
      <hr class="mx-5 ms-sm-0 me-sm-2 mb-sm-0 mt-sm-1">
      <div class="section">
        <a href="" class="text-decoration-none link-light">Filmes</a>
        <a href="" class="text-decoration-none link-light">Cinemas</a>
      </div>
    </div>
    <div class="flex-grow-1 text-center text-sm-start">
      <h4>Institucional</h4>
      <hr class="mx-5 ms-sm-0 me-sm-2 mb-sm-0 mt-sm-1">
      <div class="section">
        <a href="" class="text-decoration-none link-light"> Quem somos</a>
        <a href="" class="text-decoration-none link-light">Trabalhe conosco</a>
      </div>
    </div>
    <div class="flex-grow-1 text-center text-sm-start">
      <h4>Contato</h4>
      <hr class="mx-5 ms-sm-0 me-sm-2 mb-sm-0 mt-sm-1">
      <div class="section">
        <a href="" class="text-decoration-none link-light"><i class="bi bi-whatsapp"></i> Whatsapp</a>
        <a href="" class="text-decoration-none link-light"><i class="bi bi-telephone"></i> Telefone</a>
        <a href="" class="text-decoration-none link-light"><i class="bi bi-envelope"></i> E-mail</a>
      </div>
    </div>
  </div>
  <div class="vr d-none d-sm-flex"></div>
  <hr class="d-block d-sm-none">
  <div class="d-flex flex-row flex-sm-column justify-content-center gap-3 p-3 align-items-left">
    <a href="#" class="text-decoration-none link-light mylink"><i class="bi bi-facebook"></i> Facebook </a>
    <a href="#" class="text-decoration-none link-light mylink"><i class="bi bi-instagram"></i> Instagram </a>
    <a href="#" class="text-decoration-none link-light mylink"><i class="bi bi-twitter"></i> Twitter </a>
  </div>
</footer>
