.full-page {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-between;
    margin: 5px 15% 5px 15%;
    min-height: 400px;
  }
  
  .div {
    display: flex;
    justify-content: center;
  }
  
  .div1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 804px;
  }
  
  .div2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 12px 0 12px 0px;
  }
  
  .div3 {
    min-width: 250px;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80px;
  }
  
  .div4 {
    border: 0;
    text-align: start;
    word-break: break-all;
  }
  
  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .btn-group{
    cursor: pointer;
    width: 20px;
    height: 20px;
  }
  
  .bi-gear-fill{
    display: flex!important;
    align-items: center!important;
    justify-content: center!important;
  }
  
  .bi {
    width: 100%;
    height: 100%;
    align-self: center;
  
  }
  
  .card {
    margin: 0 8px;
  }
  
  .add-new{
    margin: 0 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 82px;
    min-width: 252px;
    border: solid 1px white;
    font-size: 30px;
    cursor: pointer;
  }
  
  .add-new:hover{
    color: red;
    border: solid 1px red;
  }
  
  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .total-card{
    width: 100%;
    text-align: end;
  }