<div *ngIf="user != null">
    <div *ngFor="let i of listaIngressos">
        <div class="card">
            <div class="card-header">
              {{ i.nomeFilme }}
            </div>
            <div class="card-body">
              <h5 class="card-title">Ingresso</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>
</div>