<div class="full-page">
  <div class="full-ingresso" *ngFor="let i of listaIngressos">


    <div class="card mb-3 text-bg-dark border-secondary" style="width: 100%;">
      <div class="row g-0">
        <div class="card-header border-secondary">Ingresso n°{{ i.id }}</div>

        <div class="col-md-4" style="width: fit-content;">
          <img src="{{ i.cartazFilme }}" width="130px" class="img-fluid rounded-start ppp" routerLink="/filme/{{i.nomeFilme}}">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title ppp" routerLink="/filme/{{i.nomeFilme}}">{{ i.nomeFilme }}</h5>
            <p class="card-text" routerLink="/cinema/{{i.sessao.idCinema}}">Cinema: {{ i.nomeCinema }}</p>
            <p class="card-text" routerLink="/cinema/{{i.sessao.idCinema}}">Endereço: {{ i.sessao.logradouroCinema }}, {{ i.sessao.numeroCinema }}</p>
            <p class="card-text" routerLink="/sessao/{{i.sessao.id}}">Data: {{ getData(i.sessao.dataSessao).getDate().toString().padStart(2, '0') + "/" + getData(i.sessao.dataSessao).getMonth().toString().padStart(2, '0') + "/" + getData(i.sessao.dataSessao).getFullYear() + " - " + getData(i.sessao.dataSessao).getHours() + ":" + getData(i.sessao.dataSessao).getMinutes() }}</p>
            <p class="card-text" routerLink="/sessao/{{i.sessao.id}}">Sala: {{ i.sessao.nomeSala }} - {{ i.cadeira.codigo }}</p>
            <p class="card-text">Tipo da sessão: {{ i.sessao.tipoSessao }}</p>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="full-ingresso">
    <div class="card text-bg-dark border-secondary">
      <h2 style="margin: 0; display: flex; justify-content: center; align-items: center;">
        Você não possui ingressos!
      </h2>
    </div>
  </div>

</div>


