<div class="fundo">
    <div >
        <h1 class="seja">Cinema21</h1>
    </div>
</div>

    <div id="mon" class="lado">
        <div >
            <img id="imagem" src="">
        </div>
        <div class="textolado">
        <h1 class="quemsomos">Quem somos?</h1>
        <p class="sobre">
            Somos uma plataforma e-commerce focada no mercado cinematográfico
            com o objetivo de oferecer aos usuários a melhor experiência em ciname.
            Além de ferramentas de gestão de bilheterias, oferecemos recursos que
            permitem a venda de ingressos de forma rápida e prática.
        </p>
    </div>
    </div>

    <div class="lado2">
        <div class="textolado">
        <h1 class="quemsomos">Para o cliente</h1>
        <p class="sobre">
            Vai evitar filas e o outros possíveis desconfortos de quando se efetua a compra de maneira presencial,
            podendo ainda garantir os assentos preferidos com mais facilidade,
            além de descontos e promoções importantes que venham a ser oferecidos pelos cinemas associados;
        </p>
        <h1 class="quemsomos">Para o Cinema</h1>
        <p class="sobre">
            Vai possuir uma maior otimização do trabalho da bilheteria,
            diminuir a possibilidade de exaustão dos colaboradores,
            conseguir economizar nos demais gastos,
            e também minimizar a chance de ocorrer tentativas de golpes com notas falsas ou cartões de terceiros.
        </p>
    </div>
    <div >
        <img id="imagem2" src="">
    </div>
