<div class="full-page">
    <div class="page">
        <div class="fundo">
            <div >
                <h1 class="seja">Cinema21</h1>
            </div>
        </div>
        
            <div id="mon" class="lado">
                <div class="src" id="imagem"></div>
                <div class="textolado">
                <h1 class="quemsomos">Quem somos?</h1>
                <p class="sobre">
                    Somos uma plataforma e-commerce focada no mercado cinematográfico
                    com o objetivo de oferecer aos usuários a melhor experiência em cinema.
                    Além de ferramentas de gestão de bilheterias, oferecemos recursos que
                    permitem a venda de ingressos de forma rápida e prática.
                </p>
            </div>
            </div>
        
            <div class="lado2">
                <div class="textolado">
                <h1 class="quemsomos">Para os Clientes</h1>
                <p class="sobre">
                    Consegue evitar filas e o outros possíveis desconfortos de quando se efetua a compra de maneira presencial e
                    podendo ainda garantir os assentos preferidos com mais facilidade e agilidade.
                </p>
                <h1 class="quemsomos">Para os Cinemas</h1>
                <p class="sobre">
                    Maior otimização na gestão de bilheterias,
                    fácil controle de caixa e
                    venda de ingressos online de forma prática.
                </p>
            </div>
            <div class="src" id="imagem2"></div>
    </div>
</div>
