.full-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}

.trailer {
    padding-top: 40px;
    padding-bottom: 20px;
}
  
.div1 {
    width: 70%;
    height: 700px;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}
  
.div2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: auto;
}
  
.container-info {
    width: 45%;
}
  
.div3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: auto;
}
  
.poster-img {
    max-height: 100%;
}
  
.sinopse {
    width: 70%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.campo-comentarios{
    width: 70%;
    padding-top: 20px;
    padding-bottom: 20px;
}
 