.full-page {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-between;
  margin: 5px 15% 5px 15%;
  min-height: 400px;
}

.div {
  display: flex;
  justify-content: center;
}

.div1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 804px;
}

.div2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 12px 0 12px 0px;
}

.div3 {
  min-width: 250px;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
}

.div4 {
  border: 0;
  text-align: start;
  word-break: break-all;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-group{
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.bi-gear-fill{
  display: flex!important;
  align-items: center!important;
  justify-content: center!important;
}

.bitton {
  display: flex;
  justify-content: center;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjwekV8_OjOBs3a5o2gkNuaazdgWVnowVviw&usqp=CAU);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 8px;
  width: 100%;


}

.bi {
  width: 100%;
  height: 100%;
  align-self: center;

}

.card {
  margin: 0 8px;
}

.add-cinema{
  margin: 0 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 89px;
  min-width: 252px;
  border: solid 1px white;
  font-size: 40px;
  cursor: pointer;
}

.add-cinema:hover{
  color: red;
  border: solid 1px red;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.total-card{
  width: 100%;
  text-align: end;
}


/* .full-page{
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards{
    display: flex;
    flex-flow: row wrap;
}

.admin-page{
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card{
    min-width: 300px;
    margin: 10px;
}

.head-admin{
    display: flex!important;
    justify-content: space-between!important;
} */
