.full-page {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100%;
}

.main{
    width: 500px;
    background-color: #444;
}

@media screen and (max-width: 767px) {
 
    .main{
        width: 100%;
    }

} 

@media screen and (max-width: 575px) {

} 