.spacer {
  flex: 1;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #b42e2e;
  font-weight: 600;
}

.toolbar img {
  margin: 0 16px;
}

.toolbar #link_filmes, .toolbar #link_cinemas {
  font-size: 18px;
  margin: 0 8px;
}

.toolbar #link_login{
  font-size: 18px;
  margin: 0 16px;
}

.search-bar {
  width: 500px;
  display: flex;
  flex-direction: row;
}

#menu-icon {
  display: none;
}

.container-menu {
  cursor: pointer;
  margin: 0 16px;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

@media screen and (max-width: 767px) {
 
  .links{
    display: none;
  }

  #menu-icon {
    display: inline-block;
  }

} 

@media screen and (max-width: 575px) {

  .search-bar {
    width: 300px;
  }

} 