<div class="toolbar my-red-bg" role="banner">
    <img
      width="40"
      alt="Angular Logo"
      src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
    />

    <div class="links">
    <a id="link_filmes" class="text-decoration-none link-light" routerLink="/filmes">Filmes</a>
    <a id="link_cinemas" class="text-decoration-none link-light" href="#">Cinemas</a>
    </div>

      <div class="spacer"></div>

      <div class="search-bar input-group">
        <input id="input-search-bar" type="text" class="form-control my-light-bg" placeholder="Buscar..." aria-label="Recipient's username" aria-describedby="button-addon2">
        <button id="button-search-bar" class="btn btn-outline-secondary" type="button" id="button-addon2">Buscar</button>
      </div>

      <div class="spacer"></div>
      
      <ul class="links navbar-nav me-auto mb-2 mb-lg-0">
        <li id="link_login" class="nav-item" *ngIf="!isLogged">
          <a class="nav-link link-light" routerLink="/login">Login/Cadastro</a>
        </li>
        <li id="link_logout" class="nav-item" *ngIf="isLogged">
          <a class="nav-link link-light" href="#" (click)="logout()">Logout</a>
        </li>
      </ul>

      <div id="menu-icon">
        <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <div [ngClass]="(menuButton) ? 'container-menu' : 'change'" (click)="changeMenu()">
            <div class="bar1 my-dark-bg"></div>
            <div class="bar2 my-dark-bg"></div>
            <div class="bar3 my-dark-bg"></div>
          </div>
        </a>
  
        <ul class="dropdown-menu my-light-bg">
          <li><a class="dropdown-item" routerLink="/filmes">Filmes</a></li>
          <li><a class="dropdown-item" href="#">Cinemas</a></li>
          <li><hr class="dropdown-divider"></li>
          <li *ngIf="!isLogged">
            <a class="dropdown-item" routerLink="/login">Login/Cadastro</a>
          </li>
          <li *ngIf="isLogged">
            <a class="dropdown-item" href="#" (click)="logout()">Logout</a>
          </li>
        </ul>
      </div>

  </div>
