<div class="col-md-6 offset-md-3 mt-5">
  <div class="card text-bg-dark border-secondary">
      <h4 class="card-header">Cadastre-se</h4>
      <div class="card-body my-light-bg">
          <form [formGroup]="cadastroForm">
              <div class="form-group margin-b">
                  <input type="text" name="nome" id="nome" placeholder="nome" formControlName="nome" class="form-control"/>
              </div>
              <div class="form-group margin">
                  <input type="text" name="sobrenome" id="sobrenome" placeholder="sobrenome" formControlName="sobrenome" class="form-control"/>
              </div>
              <div class="form-group margin">
                  <input type="text" name="telefone" id="telefone" placeholder="telefone" formControlName="telefone" class="form-control"/>
              </div>
              <div class="form-group margin">
                  <input type="text" name="cpf" id="cpf" placeholder="cpf" formControlName="cpf" class="form-control"/>
              </div>
              <div class="form-group margin">
                  <input type="text" name="login" id="login" placeholder="login" formControlName="login" class="form-control"/>
              </div>
              <div class="form-group margin-b">
                  <input type="text" name="senha" id="senha" placeholder="senha" formControlName="senha" class="form-control"/>
              </div>
          </form>
          <button type="submit" class="btn btn-danger" [disabled]="!cadastroForm.valid" (click)="onSubmit()">Cadastrar</button>
      </div>
  </div>
</div>
