.full-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dias-da-semana{
    display: flex;
    justify-content: space-around;
    padding: 40px 0 20px 0;
}

.btn{
    margin: 0 10px 0 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    cursor: pointer;
}
