<div>
  <div class="col-md-6 offset-md-3 mt-5" style="display: flex; justify-content: center; align-items: center; min-height: 500px;">
    <div class="card text-bg-dark border-secondary" style="min-width: 660.5px;">
      <h4 class="card-header text-bg-dark">Login</h4>
      <div class="card-body text-bg-light">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" >
          <div class="form-group">
            <input type="text" placeholder="Username" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['username'].errors }" style="font-size: 15px;"/>
            <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
              <div *ngIf="f['username'].errors['required']">Username is required</div>
            </div>
          </div>
          <div class="form-group">
            <input type="password" placeholder="Password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" style="margin: 10px 0; font-size: 15px" />
            <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
              <div *ngIf="f['password'].errors['required']" style="margin: 0 0 10px 0;">Password is required</div>
            </div>
          </div>
          <button [disabled]="loading" class="btn btn-danger">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Login
          </button>
            <div *ngIf="error" class="alert alert-danger mt-3 mb-0">Credenciais inválidas</div>
        </form>
          <h6 style="margin: 15px 0 7px 0;">Ainda não possui cadastro?</h6>
          <button type="button" class="btn btn-danger" routerLink="/cadastro">Cadastre-se</button>
      </div>
    </div>
  </div>
  
</div>