.full-page{
    display: flex;
    flex-direction: row;
}

.infos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filme-cinema{
    display: flex;
    flex-direction: row;
}

.poster{
    width: 145.2px;
    height: 210.6px;
}

.nomeFilme{
    word-break: break-all;
}

.card{
    font-size: small;
}

.bar-hrzt{
    display: block;
    background-color: white;
    height: 3px;
    width: 200px;
    margin: 10px 0;
}

.container-sala{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sala{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: rgb(37, 37, 37);
    border-radius: 8px;
    border: solid 2px black;
}

.fileira{
    height: 35px;
    margin: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.coluna{
    margin: 3px;
    width: 35px;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cadeira{
    color: blue;
    background-color: blue;
    min-width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: small;
    cursor: pointer;
}

.cadeira:hover {
    color: white;
    background-color: red;
}

.cad-padrao{
    border-radius: 100%;
}

.cadeira.cad-vip{
    border-radius: 4px;
}

/*.full-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fileiras {
  display: flex;
  flex-direction: row;
}

.cadeiras {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin: 10px;
}*/
