.body {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 40px 12% 40px 12%;
    color: whitesmoke;
}

.info {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.info-filme {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.poster {
    height: 200px;
    width: auto;
}

.ingresso-card {
  margin-bottom: 10px;
}

.sala {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.fileiras {
  display: flex;
  flex-direction: row;
}

.cadeiras {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cadeira-padrao {
  height: 50px;
  width: 50px;
  margin: 5px;
  background-image: url(../../../imagens/chair1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.65;
}

.cadeira-vip {
  height: 50px;
  width: 50px;
  margin: 5px;
  background-image: url(../../../imagens/vip-chair.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.65;
}

.tela {
  width: 50%;
  height: 30px;
  margin: 20px;
  background-color: rgb(22, 22, 22);
  color: whitesmoke;
  justify-self: flex-end;
  align-self: center;

  display: flex;
  justify-content: center;
  align-items: center;
}
