<div class="full-page">
    <div id="carouselExampleDark" class="carousel carousel-light slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="8500">
            <div class="src src1 d-block w-100"></div>
            <div class="carousel-caption d-none d-md-block">
              <h5>Nascemos para melhorar sua experiência em cinema!</h5>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="8500">
            <div class="src src2 d-block w-100"></div>
            <div class="carousel-caption d-none d-md-block">
              <h5>Compre ingressos de onde estiver com apenas alguns cliques!</h5>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="8500">
            <div class="src src3 d-block w-100"></div>
            <div class="carousel-caption d-none d-md-block">
              <h5>Veja as avaliações dos filmes em cartaz e deixe a sua!</h5>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="8500">
            <div class="src src4 d-block w-100"></div>
            <div class="carousel-caption d-none d-md-block">
              <h5>Aproveire seu filme!</h5>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>
