#cinema-background{
    background-image: url(C:\Users\aschmitt4\Documents\Projeto-Cinema\imagens\tela_de_cinema.jpeg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#transparent-background{
    background-color: hsla(0, 0%, 100%, 0);
}